# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ruby\wsl_manual_6_hello_world_266\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
